@model IEnumerable<SensorDataModel.Models.Sensor>
@*@using SensorDataModel.Models;*@
@*@model IEnumerable<SensorDataModel.Models.CustomGroup>*@

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts {
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    <script type="text/javascript">

        $("input[name='SelectedCG']").on('change', function () {
            $.ajax({
                url: '@Url.Action("FilterReports", "Reports")',
                data: { cgName: $("input[name='SelectedCG']:checked").val() },
                type: 'POST',
                success: function (data) {
                    $('#reportTable').html(data);
                    $('#reportTable').show();
                },
                error: function(xhr, status, error)
                {
                    alert(xhr.responseText);
                }
            })
        });

    </script>

    <script type="text/javascript">
        $("#csv").click(function () {
            $.ajax({
                url: '@Url.Action("ExportReports", "Reports")',
                data: { cn: $("input[name='SelectedCG']:checked").val() },
                type: 'POST',
                success: function (data) {
                    alert("Exported!");
                },
                error: function(xhr, status, error)
                {
                    alert(xhr.responseText);
                }
            })});
    </script>
}

<h2>Report for @ViewBag.ProjectName</h2>

<input type="submit" value="Save" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Save", "SavedReports", new { id = ViewBag.ProjectId })'">
<input type="submit" value="Export" class="btn btn-primary btn-large" id="csv" onclick="">
<table class="table">
    <tr>
        <th>
            Custom Groups
        </th>
    </tr>
    <tr>
        <td>
            <div class="btn-group" data-toggle="buttons">
                @foreach (var i in ViewBag.CustomGroups)
                {
                    string val = i;
                    <label class="btn btn-primary">
                        @Html.RadioButton("SelectedCG", val)
                        <span>@val</span>
                    </label>
                }
            </div>
        </td>
    </tr>
</table>

<div id="reportTable"></div>